body {
  background: black;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

#text {
  align-items: center;
  line-height: 8px;
  text-transform: lowercase;
  font-size: 12px;
  font-weight: bolder;
  background: url("assets/me-black.jpg");
  text-align: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-size: 80vh;
  background-position: center;
  padding-left: 28%;
  padding-right: 28%;
  letter-spacing: 0;
  word-spacing: -5px;
}

@media only screen and (max-width: 414px), (max-width: 614px) {
  #text {
    padding-left: 0;
    padding-right: 0;
    letter-spacing: 0;
    word-spacing: -5px;
    font-size: 11px;
    line-height: 7px;
  }
}
